<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Pokepedia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item [routerLink]="['/home']"><ion-icon slot="start" name="home"></ion-icon>Home</ion-item>
        <ion-item [routerLink]="['/pokedex']"><ion-icon slot="start" name="empty"></ion-icon>Pokédex</ion-item>
        <ion-item [routerLink]="['/favorites']"><ion-icon slot="start" name="star"></ion-icon>Favoritos</ion-item>
        </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
