<!-- Ventanas emergentes -->
  <!-- <p-dialog header="Puntos totales" [(visible)]="displayTotalPoints" [style]="{width: '20vw'}">
  Los puntos totales son la suma de todas las estadísticas de combate del Pokémon. <br><br> Mientras más alta sea, más fuerte será el Pokémon
  </p-dialog>

  <p-dialog header="Media" [(visible)]="displayAverage" [style]="{width: '20vw'}">
  La media es la suma de todas las estadísticas de combate del Pokémon, divididas entre el total de estadísticas.
  </p-dialog>

  <p-dialog header="Desviación típica" [(visible)]="displayTypicalDeviation" [style]="{width: '20vw'}">
  La desviación típica es una medida para cuantificar la dispersión entre un conjunto de datos. <br><br> Mientras más cerca esté del cero, menos dispersión hay entre los datos, por lo cual más equilibrado es el Pokémon.
  </p-dialog> -->

<!-- Chart de estadísticas y puntos totales, media y desviación típica -->
  <div id="container">
    <div class="infoPoints">
      <div>
        <ion-icon name="information-circle-outline" (click)="showTotalPoints()"></ion-icon>Puntos totales: {{ totalStatPoints() }} 
      </div>
      <div>
        <ion-icon name="information-circle-outline" (click)="showAverage()"></ion-icon>Media: {{ averagePoints().toFixed(2) }} 
      </div>
      <div>
        <ion-icon name="information-circle-outline" (click)="showTypicalDeviation()"></ion-icon>Desviación típica: {{ typicalDeviation().toFixed(2) }} 
      </div>
    </div>
    
    <div id="divChart">
      <!-- Chart generado con Chart.js -->
      <canvas id="myChart"></canvas>
    </div>
  </div>
