#container {
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
    margin: 10px 0;

    .infoPoints {
        padding: 5px;
        text-align: left;

        div {
            font-size: 1.3rem;
            
            margin: 10px 0 5px 10px;
            color: white;
            
            ion-icon {
                opacity: 0.5;
                margin-top: 8px;
                font-size: 1.2rem;
                border-radius: 50%;
                cursor: pointer;
                &:hover {opacity: 1; transform: scale(1.4); }
            }
        }
    }

    #divChart {
        display: block;
        width: 100%;
    }
}